### Node.js ###
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

### Next.js Build Output ###
.next/
out/

### Env Files ###
.env.development.local
.env.test.local
.env.production.local

### Logs ###
logs/
*.log

### Miscellaneous ###
.DS_Store
.vscode/
.idea/
dist/
.cache/
coverage/

### TypeScript ###
*.tsbuildinfo
config.bat
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
